@model Expense

<div class="text-center">
    <h1 class="display-4">@((Model.Id == 0) ? "Create Expense" : "Edit Expense")</h1>
</div>

<form asp-action="CreateEditExpenseForm">
    <input type="hidden" asp-for="Id" />
    <div class="form-group">
        <label asp-for="Name" class="control-label"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Amount" class="control-label"></label>
        <input asp-for="Amount" class="form-control" />
        <span asp-validation-for="Amount" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input type="submit" value="Save" class="btn btn-primary" />
    </div>
</form>
<a asp-action="Expenses" class="btn btn-secondary">Back to List</a>
